fastapi[standard]
uvicorn
python-dotenv

langchain-groq
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
sentence-transformers
pypdf
python-docx

psycopg[binary]

alembic
pydantic-settings